In [1]:
import difflib
import pandas as pd

In [2]:
data_ota_1 = {'Nome Hotel': ['Hotel Boulevard Canasvieiras Central', 'Costa Norte Ponta Das Canas', 'Villas Jurere Hotel Boutique', 'Joaquina Beach Hotel', 'La Alhambra Apart Hotel'],
        'Preço OTA 1 ': [500, 800, 750, 300, 350]}

df_player1 = pd.DataFrame(data_ota_1)

data_ota_2 = {'Nome Hotel': ['Hotel Boulevard Canasvieiras', 'Hotel Costa Norte Ponta Das Canas', 'Villas Jurere Hotel', 'Joaquina Hotel', 'La Alhambra Hotel'],
        'Preço OTA 2 ': [550, 830, 700, 315, 350]}

df_player2 = pd.DataFrame(data_ota_2)

In [3]:
df_player1

                             Nome Hotel  Preço OTA 1
0  Hotel Boulevard Canasvieiras Central           500
1           Costa Norte Ponta Das Canas           800
2          Villas Jurere Hotel Boutique           750
3                  Joaquina Beach Hotel           300
4               La Alhambra Apart Hotel           350

In [4]:
df_player2

                          Nome Hotel  Preço OTA 2
0       Hotel Boulevard Canasvieiras           550
1  Hotel Costa Norte Ponta Das Canas           830
2                Villas Jurere Hotel           700
3                     Joaquina Hotel           315
4                  La Alhambra Hotel           350

In [5]:
df1 = df_player1.copy()
df2 = df_player2.copy()

In [6]:
df2['Nome Hotel'] = df2['Nome Hotel'].apply(lambda x: difflib.get_close_matches(x, df1['Nome Hotel'])[0])
df1.merge(df2)

                             Nome Hotel  Preço OTA 1   Preço OTA 2
0  Hotel Boulevard Canasvieiras Central           500           550
1           Costa Norte Ponta Das Canas           800           830
2          Villas Jurere Hotel Boutique           750           700
3                  Joaquina Beach Hotel           300           315
4               La Alhambra Apart Hotel           350           350